.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    background: black;
    outline: none;
    border-radius: 15px;
}

.slider::-webkit-slider-thumb {
    border: 5px solid black;
    -webkit-appearance: none;
    border-radius: 15px;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
}