@import 'color-picker.css';
@import 'range-slider.css';

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.name {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    height: 100vh;
}

.name h1 {
    margin: 0;
}

.name p {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 640px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cell:hover {
    background-color: black;
}

.controls {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25vw;
}

.controls div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
}