body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.name {
    width: 25vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 640px;
    border: 1px solid black;
}

.cell:hover {
    background-color: darkgoldenrod;
}

.controls {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25vw;
}